@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    min-height: 230px
  .other-packages__main-card-room
    margin-bottom: 25px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__payment, &__disclaimer
      margin-top: 40px
    &__item
      flex-wrap: nowrap
      &-wrapper
        max-width: 448px
      &-phonelink
        display: contents

@media (max-width: 992px)
  .modal
    &__info
      display: block
      margin-left: auto
    &__dialog
      overflow-y: auto
      // max-height: 478px
      max-height: 95%  
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    margin-top: -3px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 6.8%
    &-bottom
      min-height: 60px
      &__container
        max-width: 673px
    &-menu
      padding-top: 19px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    padding: 28px 23px 20px 22px
    &__info
      margin-bottom: 7px
    &__pricetag
      line-height: 33px
  .map
    width: 340px
  .other-packages
    &__wrapper
      grid-template: 1fr 1fr 1fr/ 1fr 1fr
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
    &__main-card
      overflow-y: auto
  .newsletter
    padding: 72px 0 73px
  .reviews
    padding-top: 15px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
        margin-top: 25px
        padding-bottom: 17px
      &__button
        top: 47%
        &--prev
          left: 0
        &--next
          right: 0
      &__date
        margin-bottom: 3px
      &__rating
        margin-left: 4px
  .activities
    padding: 14px 0 48px
    &-wrapper
      flex-wrap: wrap
    &__title
      padding-top: 25px
      padding-bottom: 56px
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    min-height: 255px
    &__title
      max-width: 200px
    &__button
      padding: 7px 22px 7px 20px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__message
      margin-bottom: 22px
    &__input
      &-group
        flex-basis: 47.5%
    &__logo
      width: 100px
      grid-row: 1 / 2
      grid-column: span 2
    &__title--inline
      margin-right: 46px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: 13px
        margin-left: -55px
    &__icon
      &-wrapper
        min-width: 30px
        margin-left: 9px
        margin-top: 5px
        &_marker
          margin-left: 0
        &_phone
          margin-right: 9px
          margin-left: 5px
        &_email
          margin-left: 6px
          margin-right: 9px
      &-marker
        margin-left: 8px
        margin-right: 24px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: 8px
      margin-left: -1px
    &__legal
      grid-column: span 2
      margin-top: 7px
      margin-right: 12px
    &__additional
      grid-column: span 2
      margin-top: 8px
      margin-left: -40px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 20px
        margin-bottom: 16px
      &-form
        grid-column: span 5
        grid-row: 4
        max-width: 539px
        margin-left: 0
    &__item 
      &-wrapper
        max-width: 448px
      &-marker
        margin-bottom: 13px
      &-phone
        margin-bottom: 21px
    &__payment
      margin-top: 15px
      justify-self: end
      grid-column: 5 / 7
    &__disclaimer
      margin-top: 20px
      justify-self: start
      grid-column: 1 / 4
    &__info
      display: block
      margin-right: 1px
  .hover-primary
    text-decoration: none
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: #BDBDBD


  

@media (max-width: 767px)
  .modal__dialog--visible
    max-width: 90%
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-menu
      flex-direction: column    
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
      &__link
        color: #fff
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      display: none
      &--visible
        display: block
        overflow: scroll 
    &__search
      &--mobile
        &_visible
          max-width: 245px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .other-packages
    &__wrapper
      grid-template-rows: 800px 500px 500px
    &__card
      &-img
    &__main-card
      flex-direction: column 
      &-img
        width: 100%
        height: 350px
      &-info
        width: 100%
        height: 450px
      &-text
        margin-bottom: 0
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after , &::before
          display: none
      &__button
        top: 80px
        outline: none
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px    
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 30px
  .card
    width: 49%
    min-height: 255px
  .footer
    // &__additional
    //   margin-left: -30px
    &__categories
      max-width: 150px
    &__item
      flex-wrap: nowrap
    &__input
      &-group
        flex-basis: 100%
    &__disclaimer
      grid-column: span 4





@media (max-width: 576px)
  .container
    max-width: 87.5%
  .navbar
    &-top
      padding-top: 21px
      &__menu-button
        margin-top: 7px
        margin-right: 2px
    &-bottom--visible
      top: 70px
    &-menu
      padding-top: 0
      &__item
        margin-bottom: 18px
    &__search--mobile_visible
      max-width: 265px
      margin-right: 20px
      margin-top: 10px
      margin-bottom: 15px
  .logo
    width: 100px
    margin-top: 1px
    margin-left: -1px
  .breadcrump
    &-list
      padding-top: 19px
  .stars
    margin-top: 4px
    margin-right: 18px
  .hotel
    padding: 0 0 40px
    &-info
      padding-bottom: 38px
      &__offer
        // margin-left: 1px
        padding-right: 11px
        margin-top: 3px
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 403px
  .booking
    &__info
      margin-bottom: 11px
    &__pricetag
      line-height: 33px
    &__per-room
      line-height: 10px
    &__number
      margin-right: 4px
  .map
    height: 173px
  .other-packages
    &__wrapper
      grid-template-rows: 800px 500px 500px 500px 500px  
      grid-template-columns: 1fr 
    &__main-card
      grid-column: 1 
      &-info
        padding: 30px 21px 25px 32px
      &-text
        margin-bottom: 15px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
  .newsletter
    padding: 76px 0 83px
    &-title
      font-size: 20px
      line-height: 25px
      margin-top: 0
      margin-bottom: 37px
      margin-left: 5px
      &__strong
        margin-top: 4px
        margin-left: 2px
        font-size: 30px
        line-height: 38px
    .subscribe
      width: 280px
      margin-left: 8px
      &__button
        font-size: 12px
        line-height: 15px
  .reviews
    padding-top: 25px
    padding-bottom: 45px
    &__title
      max-width: 235px
      margin: 16px auto 62px
      text-align: center
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding-bottom: 21px
      &__rating
        margin-left: 0
      &__text
        font-size: 12px
        line-height: 160%
        text-align: left
      &__button
        top: 80px
        &--prev
          left: 50%
          margin-left: -92px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -88px    
          transform: translate(50%, 0)
  .activities
    padding-top: 20px
    &__title
      font-size: 18px
      line-height: 23px
      padding-bottom: 38px
  .card
    width: 100%
    &:nth-child(1)
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      margin-bottom: 27px
    &:nth-child(4)
      order: 3
      margin-bottom: 30px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-top: -8px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
        margin-left: 0
        margin-top: 11px
        h3
          width: 100%
          display: block
          margin-bottom: 18px
      &-links
        margin-left: 2px
    &__additional
      grid-row: 4
      grid-column: 1
      margin: 0
    &__categories
      grid-row: 5
      grid-column: 1
      margin: 0
      margin-top: -3px
      max-width: 162px
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
      margin: 0
    &__item
      flex-wrap: nowrap
      &-marker
        margin-bottom: 19px
      &-phone
        margin-bottom: 20px
    &__icon-wrapper
      margin-left: 0
      &_phone
        margin-left: 0
        margin-right: 0
      &_marker
        margin-right: 4px
        margin-left: -4px
      &_email
        margin-right: 0
    &__contact
      &-details
        max-width: 280px
        grid-row: 6
        grid-column: 1
        margin-top: 9px
        margin-bottom: 19px
      &-form
        grid-row: 7
        grid-column: 1
        max-width: 281px
    &__message
      margin-bottom: 15px
      &-title
        margin-top: 5px
        margin-bottom: 16px
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 5
      width: 160px
    &__disclaimer
      grid-row: 8
      grid-column: 1
      display: flex
      width: 100%
      justify-content: space-between
      align-items: start
      flex-wrap: wrap
      margin-top: -5px
      margin-left: 0
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      &-item
        margin-right: 0
    &__payment
      grid-row: 8
      grid-column: 1
      width: 100%
      flex-wrap: wrap
      margin-top: 24px
      
  .modal__dialog
    min-width: 300px
    padding: 33px 10%


@media ( min-width: 992px )
  .hover-primary
    text-decoration: none
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: #BDBDBD
    &:hover
      color: $primary
  .button
    &:hover
      background-color: #be9c9c
  .navbar-menu__link
    &:hover
      color: $primary
  .booking__num
    &:hover
      color: $primary
      



      



