*
  box-sizing: border-box

body 
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color

img
  max-width: 100%
  
.container
  max-width: 1110px
  margin: auto

.lock
  overflow: hidden

.input
  background-color: #fff
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
.message
  background-color: #fff
  border-radius: 4px
  padding: 18px 23px
  border: none
.button
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  color: $light
  border-radius: 4px
  border: none
  background-color: $primary
  cursor: pointer
.button
  &:hover
    background-color: #be9c9c
input::placeholder
  color: #BDBDBD
textarea::placeholder   
  color: #BDBDBD
.modal__message
  overflow: scroll
.invalid
  color: $primary
.navbar-menu__link
  &:hover
    color: $primary
.map
  width: 347px
  height: 213px
  border-radius: 10px
  // overflow: hidden
  padding: 0
  background-image: url(../img/map.jpg)
  background-position: center center
  &__ymap
    width: 100%
  
